<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static "css/tailwind_overrides.css" %}" />
        {% tailwind_css %}
		<title>
			MSN TV 2 -
			{% block title_block %}
				Base
			{% endblock %}
		</title>
    </head>

	{% block body_block %}
        <div id="focus-box"></div>
        <audio id="select-sound" src="{% static 'audio/Select.mp3' %}"></audio>
        <audio id="control-feedback-sound" src="{% static 'audio/ControlFeedback.mp3' %}"></audio>
        <audio id="error-sound" src="{% static 'audio/Error.mp3' %}"></audio>
        <div id="cur-page absolute top-0 left-0 right-0 bottom-0 h-screen w-screen">
            {% block cur_page %}
            {% endblock %}
        </div>
        <div id="main-page">
            {% block contextual %}
		    {% endblock %}
        </div>
		<script src="{% static 'js/jquery-3.7.1.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/selection-jquery.js' %}" crossorigin="anonymous"></script>
		{% block contextual_js %}
		{% endblock %}
	{% endblock %}
</html>