{% load static %}
<div class="flex page-outer flex-wrap">
    <div class="top-0 left-0 right-0 page-outer">
        <div class="flex items-center settings-container page-outer">
            <div class="flex-shrink-1 text-center buffer selectable" select-x="0" select-height="0" select-layer="0">
                <h3 class="ui-title-white-4">Using MSN TV</h3>
            </div>
            <div class="flex-grow text-center buffer-2 selectable" select-x="1" select-height="0" select-layer="0">
                <h3 class="ui-title-white-4">Sign Out</h3>
            </div>
            <div class="flex-grow text-center buffer-2 selectable" select-x="1" select-height="0" select-layer="0">
                <h3 class="ui-title-white-4">Account</h3>
            </div>
            <div class="flex-grow text-center buffer-2 selectable" select-x="1" select-height="0" select-layer="0">
                <h3 class="ui-title-white-4">Settings</h3>
            </div>
            <div class="flex-grow text-center buffer-2 selectable" select-x="2" select-height="0" select-layer="0">
                <div class="flex items-center">
                    <h3 class="ui-title-white-4">Help</h3>
                    <img class="help-icon-sml" src="{% static 'images/helpicon.png' %}">
                </div>
            </div>
        </div>
    </div>
    <img class="object-cover" src="/static/images/infodivbg.png">
    <div class="absolute promo-img">
        <img class="object-cover" src="/static/images/promotionalimage.png">
    </div>
    <div class="absolute flex flex-wrap today-pane items-center">
        <h3 class="today-pane-title">Today on MSN</h3>
        <h3 class="today-pane-date">Dec 24, 2023</h3>
        <h3 class="today-pane-headline">Happy holidays!</h3>
        <div class="break"></div>
        <h3 class="today-pane-headline">Happy holidays!</h3>
        <div class="break"></div>
        <h3 class="today-pane-headline">Happy holidays!</h3>
        <div class="break"></div>
        <div class="flex items-center today-end">
            <img class="dropdown-right-arrow" src="/static/images/dropdowncustomrightarrow.png">
            <h3 class="today-pane-text">More MSNBC news</h3>
        </div>
    </div>
    <div class="absolute flex flex-wrap using-msn-tv-pane items-center">
        <h3 class="using-msn-tv-pane-title">In Using MSN TV</h3>
        <h3 class="today-pane-headline">Tip: Turn on audible dialing</h3>
        <div class="break"></div>
        <h3 class="today-pane-headline">Get better printing results</h3>
        <div class="break"></div>
        <div class="flex items-center today-end">
            <img class="dropdown-right-arrow" src="/static/images/dropdowncustomrightarrow.png">
            <h3 class="today-pane-text">Go to Using MSN TV</h3>
        </div>
    </div>
    <div id="search-div"></div>
    <div id="placeholder-bar">
        <h3 class="absolute holiday-text">Happy holidays!</h3>
    </div>
</div>