{% extends 'tv/base.html' %}
{% load static %}
{% load static tailwind_tags %}

{% block title_block %}
	Sign in
{% endblock %}

{% block contextual %}
    <div class="flex overlay items-center justify-center">
        <button type="button" class="base-btn" id="start-btn">Start MSN TV 2</button>
    </div>
    <audio id="startup" src="{% static 'audio/Power_On.mp3' %}"></audio>
    <audio id="connecting" src="{% static 'audio/Connecting.mp3' %}"></audio>
    <audio id="disconnect" src="{% static 'audio/Disconnect.mp3' %}"></audio>
    <div class="flex mx-auto">
        <div class="flex relative mx-auto flex-wrap">
            <div class="absolute top-0 left-0 right-0 px-4 py-2">
                <div class="flex items-center flex-wrap">
                    <div class="flex-shrink-1">
                        <img class="topbar-img" src="{% static 'images/topbarlogo.png' %}">
                    </div>
                    <div class="flex-grow selectable" select-x="0" select-height="0" select-layer="0">
                        <h3 class="ui-title-white">Forgot your password?</h3>
                    </div>
                    <div class="flex-grow selectable" select-x="1" select-height="0" select-layer="0">
                        <h3 class="ui-title-white">Settings</h3>
                    </div>
                    <div class="flex-grow selectable" select-x="2" select-height="0" select-layer="0">
                        <div class="flex items-center">
                            <h3 class="ui-title-white">Help</h3>
                            <img class="help-icon" src="{% static 'images/helpicon.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute top-0 left-0 right-0 px-4 py-2 login-container flex">
                <div class="flex flex-wrap">
                    <div class="flex-shrink user-icon-large">
                        <img src="{% static 'images/tile22_l.png' %}">
                    </div>
                    <div class="flex-grow py-2">
                        <div class="grid-rows-4 items-center">
                            <h3 class="ui-title-navy">jacksondam@webtv.net</h3>
                            <h3 class="text-gap"><br></h3>
                            <h3 class="ui-title-dark">Type your password</h3>
                            <input class="password-box selectable" type="password" value="verysecurepassword" select-x="0" select-height="1" select-layer="0">
                            <button type="button" class="sign-in-btn selectable" select-x="1" select-height="1" select-layer="0">Sign In</button>
                            <div class="flex items-center">
                                <img class="custom-checkbox selectable" data-checked="true" select-x="0" select-height="2" select-layer="0" src="{% static 'images/checked.png' %}">
                                <h3 class="ui-title-dark-2 ml-2">Save password so I don't need to retype it</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="object-cover h-screen" src="{% static 'images/bg.png' %}">
            <div class="absolute bottom-0 left-0 right-0 px-4 network-container flex">
                <div class="flex items-center">
                    <div class="flex-shrink">
                        <h3 class="ui-title-white-2">My home network</h3>
                    </div>
                    <div class="flex-grow">
                        <div class="flex items-center">
                            <img class="network-icon selectable" select-x="0" select-height="3" select-layer="0" src="{% static 'images/photo.png' %}">
                            <h3 class="ui-title-white-3">Photos</h3>
                        </div>
                    </div>
                    <div class="flex-grow">
                        <div class="flex items-center">
                            <img class="network-icon selectable" select-x="1" select-height="3" select-layer="0" src="{% static 'images/music.png' %}">
                            <h3 class="ui-title-white-3">Music</h3>
                        </div>
                    </div>
                    <div class="flex-grow">
                        <div class="flex items-center">
                            <img class="network-icon selectable" select-x="2" select-height="3" select-layer="0" src="{% static 'images/video.png' %}">
                            <h3 class="ui-title-white-3">Videos</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute bottom-0 left-0 right-0 panel-container closed-no-anim flex" id="signin-panel">
                <img class="panel-bg" src="{% static 'images/signinpanelbg.png' %}">
                <div class="absolute flex flex-wrap">
                    <div class="flex-shrink">
                        <h3 class="panel-title-white">Please wait while we sign you into MSN TV.</h3>
                        <div class="text-gap"></div>
                    </div>
                    <div class="flex-grow-1 flex items-start">
                        <div class="base-other">
                            <img class="progress-bar-fill" id="signin-bar" src="{% static 'images/barfill.png' %}">
                        </div>
                        <button type="button" class="base-btn selectable ml-2" select-x="0" select-height="0" select-layer="1">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="absolute top-1/2 left-1/2 -translate-x-1/2 error-dialog-container closed" id="error-dialog">
                <div class="error-contents inset-0 flex flex-col">
                    <div class="flex items-center">
                        <img class="absolute error-dialog-icon" src="{% static 'images/warning.png' %}">
                        <h3 class="error-title-dark">Please sign in</h3>
                    </div>
                    <pre class="error-body">
                        Please sign in so we can verify your
                        account status.
                    </pre>
                    <pre class="error-body">
                        Once you've signed in, you can
                        either stay online and explore, or
                        sign out and listen to music from
                        your home network or storage
                        devices.
                    </pre>
                    <div class="flex btn-pair">
                        <div class="flex-grow"></div>
                        <button type="button" class="sign-in-btn selectable" select-x="0" select-height="0" select-layer="2">Sign In</button>
                        <button type="button" class="cancel-error-btn selectable" select-x="1" select-height="0" select-layer="2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contextual_js %}
	<script src="{% static 'js/main-jquery.js' %}" crossorigin="anonymous"></script>
{% endblock %}